/*
Error: Undefined variable: "$blue".
        on line 4 of /home/ubuntu/BoomBeachDataMining/public/sass/test.scss

1: $Blue:#9FBFBF;
2: 
3: 
4: body { background: $blue;  }

Backtrace:
/home/ubuntu/BoomBeachDataMining/public/sass/test.scss:4
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/variable.rb:49:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:471:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:328:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.4.21/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.21/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/var/lib/gems/1.9.1/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$blue\".\A         on line 4 of /home/ubuntu/BoomBeachDataMining/public/sass/test.scss\A \A 1: $Blue:#9FBFBF;\A 2: \A 3: \A 4: body { background: $blue;  }"; }
