<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"></script>
		<script src="/js/XPVPr.js"></script>
		<script src="/js/google-analytics.js"></script>
	</head>
	<body>
		<div id="charts-navigation">
			<ul>
				<li><a href="/XPVPSubmission">XP VP Submission Page</a></li>
				<li><a href="/chartsr">Current Month</a></li>
				<li><a href="/chartsr?year=2015&month=12">December 2015</a></li>
				<li><a href="/chartsr?year=2015&month=4">April 2015</a></li>
			</ul>
		</div>
		<div id="container" style="width:100%;height:400px"></div>
		<table id="stats-table">
			<tr>
				<th>Level</th>
				<th>Min VP</th>
				<th>Max VP</th>
				<th>Average VP</th>
				<th>Median VP</th>
				<th>Ratio VP</th>
				<th>Number of Entries</th>
				<th>List of VP</th>
			</tr>
		</table>
	</body>
</html>
