<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"></script>
		<script>
			var xmlhttp = new XMLHttpRequest()
			var url = "/XPVPAPI/year/2015/month/4";
			var dataPoints = [];	
			xmlhttp.onreadystatechange = function() {
				if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
					var myArr = JSON.parse(xmlhttp.responseText);
					myFunction(myArr);
				}
			};

			xmlhttp.open("GET", url, true);
			xmlhttp.send();

			function myFunction(arr) {
				for(var i = 0; i < arr.length; ++i) {
					dataPoints.push([arr[i].XPLevel, arr[i].VictoryPoint]); 	
				}
			$(function() {
				$('#container').highcharts( {
					chart: {
						type: 'scatter',
						zoomType: 'xy'
					},
					title: {
						text: 'April 2015 Boom Beach XP versus VP'
					},
					xAxis: {
						title: {
							enabled: true,
							text:"Experience Level"
						},
						startOnTick:true,
						endOnTick:true,
						showLastLabel: true
					},
					yAxis: {
						title: {
							text: 'Victory Points'
						},
						min: 0
					},
					plotOptions: {
						scatter: {
							marker: {
								radius: 5, 
								states: {
									hover: {
										enabled:true,
										lineColor: 'rgb(100,100,100)'
									}
								}
							},
							states: {
								hover: {
									marker: {
										enabled: false
									}
								}
							}
						}
					},
					series: [{
						regression: true,
						regressionSettings: {
							type: 'linear',
							color: 'rgba(223, 83, 83, .9)',
						},
						color: 'rgba(119,152,191,.5)',
						data: dataPoints 
					}]
				});
			});
			console.log(dataPoints);

			}
		</script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-73844310-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<div id="container" style="width:100%;height:400px"></div>
	</body>
</html>
