<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/css/table.css">
		<link rel="stylesheet" type="text/css" href="/css/nav.css">
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"></script>
		<script src="/js/XPVP.js"></script>
		<script src="/js/google-analytics.js"></script>
	</head>
	<body>
		<div class="nav">
			<ul>
				<li><a href="/XPVPSubmission">XP VP Submission Page</a></li>
				<li><a href="/charts">Current Month</a></li>
				<li><a href="/charts?year=2015&month=12">December 2015</a></li>
				<li><a href="/charts?year=2015&month=4">April 2015</a></li>
			</ul>
		</div>
		<br>
		<!--form method="get">
			X Axis: <input type="text" name="x-axis"><br>
			Y Axis: <input type="text" name="y-axis"><br>
			Graph Type: <input type="text" name="graph-type"><br>
			Month: <input type="text"
			Year:
			<input type="submit" value="Submit">
		</form-->
		<br>
		<div id="container"></div>
		<div id="graph-notes">(Try clicking the key above!)</div>
		<div class="table-wrapper"> 
			<table id="stats-table">
				<tr>
					<th>Level</th>
					<th>Min VP</th>
					<th>Max VP</th>
					<th>Average VP</th>
					<th>Median VP</th>
					<th>Ratio VP</th>
					<th>Number of Entries</th>
					<th>List of VP</th>
				</tr>
			</table>
		</div>
	</body>
</html>
