		<title>Boom Beach Statistics: Experience Level | VP Calculator | Victory Points | XP | VP</title>
		<meta name="description" content="A site that analyzes XP VP game trends for mobile app game Boom Beach.  Also with the data provided by the community, the VP Calculator calculates what the VP a person should be at">
		<meta name="keywords" content="Boom Beach Statistics, VP Calculator, XP, Experience Level, Victory Point, VP, statistics, analysis">
	
