		<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/xpvp-submission">XP VP Submission Page</a></li>
				<li><a href="/vp-calculator">VP Calculator</a></li>
				<!--li><a href="/hopper">Hopper Network</a></li-->
			</ul>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/monthtomonth">Month-to-Month Comparison</a></li>
				<li><a href="/charts">This Month</a></li>
			</ul>
		</div><br>

