		<div class="nav">
			<ul>
				<li><a href="/">XP VP Submission Page</a></li>
				<li><a href="/vp-calculator">VP Calculator</a></li>
				<li><a href="/screenshot-recognition">Screenshot Recognition</a></li>
			</ul>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/monthtomonth">Month-to-Month Comparison</a></li>
				<li><a href="/charts">This Month</a></li>
				<li><a href="/charts?year=2016&month=3">March 2016</a></li>
				<li><a href="/charts?year=2016&month=2">February 2016</a></li>
				<li><a href="/charts?year=2015&month=12">December 2015</a></li>
			</ul>
		</div><br>

