<html>
	<head>
<% include header.ejs %>
		<link rel='stylesheet' type='type/css' href='css/submission.css'>
		<link rel='stylesheet' type='type/css' href='css/nav.css'>
		<script src="/js/google-analytics.js"></script>
	</head>
	<body>
<% include nav.ejs %>

		<div id='submission-info'>
<h1>How-to-use Tutorial</h1>
Open Boom Beach<br><br>
<img src="/images/ocr1.png"><br><br>
Click Task Force button<br><br>
<img src="/images/ocr2.png"><br><br>
Switch to desired TF screen<br><br>
<img src="/images/ocr3.png"><br><br>
Take screenshot of the TF page using your device<br>
- Android - Press the Power Button and Volume Down Button at the same time until you hear a click<br>
- iOS - Hold the Power Button, then immediately push the Home button.  You should hear a click.<br><br><br>
Go to the Screenshot Recognition Webpage Page<br>
<img src="/images/ocr4.png"><br><br>
Click "Choose File"<br><br>
<img src="/images/ocr5.png"><br><br>
Locate screenshot on device<br><br>
<img src="/images/ocr6.png"><br><br>
Click Submit<br>
<img src="/images/ocr7.png"><br><br>
		</div>
<% include footer.ejs %>
	</body>
</html>
