<html>
	<head>
<% include header.ejs %>
		<link rel='stylesheet' type='type/css' href='css/submission.css'>
		<link rel='stylesheet' type='type/css' href='css/nav.css'>
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="/js/google-analytics.js"></script>
	</head>
	<body>
<% include nav.ejs %>
		<div class='vp-calculator-result'><span id="vp-calculator-header"><b>VP Calculator</b></span><br><br>
		XP Level: <b><%= XPLevel %></b><br>
		Your VP should be around: <b><%= targetVP %></b><br>
		Safe VP range to be around: <b><%= vpRange %></b><br>
		VP minimum-maximum from collected data: <b><%= minMax %><b><br><br>
		<a href="/vp-calculator">Back</a>
		</div>
<% include footer.ejs %>
	</body>
</html>
