<html>
	<head>
<% include header.ejs %>
		<link rel='stylesheet' type='type/css' href='css/submission.css'>
		<link rel='stylesheet' type='type/css' href='css/nav.css'>
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="/js/google-analytics.js"></script>
	</head>
	<body>
<% include nav.ejs %>
		<div class='submission-form'><b><span id="vp-calculator-header">VP Calculator</span></b><br><br>
		<form action='/vp-calculator' method='post'>
			Your Experience Level(XP):<br>
			<input type='text' name='XPLevel'><br>
			Your Victory Point(VP) - Optional:<br>
			<input type='text' name='victoryPoint'>
			<input type='submit' name='Submit'>
		</form></div>
<% include footer.ejs %>
	</body>
</html>
